@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.layout {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.mainContent {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  overflow: auto;
  min-height: 100vh;
  transition: margin-left 0.3s ease; /* Smooth adjustment when sidebar toggles */
}

/* Hamburger Button - only visible on smaller screens */
.hamburgerButton {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  background-color: #c31d3c;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* Hidden by default */
}

.hamburgerButton:hover {
  background-color: #8f263a;
}

/* Show hamburger button on smaller screens */
@media (max-width: 768px) {
  .hamburgerButton {
    display: block;
  }

  .mainContent {
    margin-left: 0; /* Main content takes full width */
    width: 100%;
  }
}
