.surveyContainer {

    margin: 20px auto;
   
}

.surveyContainer h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #c31d3c;
    font-weight: 900;
}

.surveyList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.surveyCard {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.surveyCard:hover {
    background: #c31d3c;
    color: white;
}

.surveyTitle {
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.surveyTitle:hover {
    color: white;
}

.surveyDate{
    font-size: 14px;
    color: #757575;
}

.surveyCard:hover .surveyDate{
    color: white;
}   