.surveyMainPage{
    margin-top: 3em;
    padding: 200px 20px 100px;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.buttonContainer{
    display: flex;
    
    align-items: center;
    margin-bottom: 10px;
}

.pendingButton{
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border-color: #c31d3c;
}

.completedButton{
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border-color: #2c9f47;
}

.pendingButton:hover{
    background-color: #c31d3c;
    color: white;
}

.completedButton:hover{
    background-color: #2c9f47;
    color: white;
}
