.registerBg {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(200deg, #C31D3C, #4e0e1a);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.adminLoginLogo {
  text-align: center;
  margin-bottom: 20px;
}

.logo1, .logo2 {
  width: 80px;
  height: auto;
  margin: 0 10px;
}

.adminLoginTitle {
  text-align: center;
  margin-bottom: 0;
}

.adminSystemTitle1 {
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
}

.adminSystemTitle2 {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 10px 0;
}

.adminSystemTitle3 {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.registerContainer {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.registerTitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerForm label {
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #ffffff;
}

.registerForm input {
  padding: 15px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.0rem;
}

.registerForm input:focus {
  outline: none;
  border-color: #8f94fb;
  box-shadow: 0 0 5px rgba(143, 148, 251, 0.5);
}

.registerForm button {
  background: #C31D3C;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.registerForm button:hover {
  background: #e42448;
}

.registerContainer p {
  text-align: center;
  font-size: 0.9rem;
  color: red;
  margin-top: 10px;
}

.loginButton {
  background: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginButton:hover {
    color: #f84c3f;
  }

  .passwordInputWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .passwordInputWrapper input {
    flex: 1;
    padding-right: 70px; /* space for the button */
  }
  
  .toggleBtn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.9rem;
  }
  

/* Responsive Styling */
@media (max-width: 768px) {
  .registerContainer {
    padding: 20px;
  }

  .registerTitle {
    font-size: 1.5rem;
  }

  .registerForm label {
    font-size: 1rem;
  }

  .adminLoginLogo img {
    width: 60px;
}

  .adminSystemTitle1 {
    font-size: 1.5rem;
}

.adminSystemTitle2, .adminSystemTitle3 {
    font-size: 0.9rem;
}
}


