/* PendingSurvey.module.css */

/* Container for Pending Surveys */
.container {
  width: 100%;
  margin: auto;
}

/* Button Container */
.buttonContainer {
  text-align: center;
  margin-top: 20px;
}

/* Navigate Button */
.tracerSurveyButton {
  background-color: #463557;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tracerSurveyButton:hover {
  background-color: #362642;
}

.tableContainer {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  
  border-radius: 8px;

}

.table {
  width: 100%;
  border-radius: 5px;
  border-collapse: collapse;
  background-color: #fff;
}

.tableHeader {
  background-color: #c31d3c;
  color: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.headerCell {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.row:nth-child(even) {
  background-color: #f9f9f9;
}

.row:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.cell {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.actionButton {
  padding: 5px 10px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0 5px;
}

.editButton {
  background-color: #007bff;
  color: #fff;
  width: 40%;
}

.editButton:hover {
  background-color: #0056b3;
}

.publishButton {
  background-color: #28a745;
  color: #fff;
  width: 40%;
}

.publishButton:hover {
  background-color: #218838;
}

/* Responsive Design */

@media (max-width: 768px) {
  .table {
    font-size: 0.9rem;
  }

  .actionButton {
    padding: 5px;
    font-size: 0.8rem;
  }
}