.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #fff;
}

.header {
  background-color: #580808;
  color: #fff;
  text-align: left;
  font-weight: bold;
  padding: 12px;
  font-size: 1rem;
  text-transform: uppercase;
}

.header th {
  padding: 12px;
  /* Set column widths */
  width: 15%; /* Adjust based on your layout, this is just an example */
}

.header th:nth-child(2) {
  width: 40%; /* For "Title" column */
}

.header th:nth-child(3) {
  width: 45%; /* For "Actions" column */
}

/* Row Styles */
.row:nth-child(even) {
  background-color: #f9f9f9;
}

.row:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Cell Styling */
.cell {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* Clickable Row */
.clickable {
  color: #c31d3c;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.clickable:hover {
  color: #721324;
}

.actionButton {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  flex-wrap: wrap;
}

/* Base Button Styles */
.viewButton, 
.deleteButton, 
.editButton, 
.publishButton {
  padding: 5px 10px;
  font-size: 0.9rem;
  width: 23%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0 5px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* Edit Button */
.editButton {
  background-color: #024a96;
  color: #fff;
}

.editButton:hover {
  background-color: #0069d9;
  transform: translateY(-1px);
}

/* View Button */
.viewButton {
  background-color: #138596;
  color: #fff;
}

.viewButton:hover {
  background-color: #138496;
  transform: translateY(-1px);
}

/* Delete Button */
.deleteButton {
  background-color: #dc3545;
  color: #fff;
}

.deleteButton:hover {
  background-color: #c82333;
  transform: translateY(-1px);
}

/* Publish Button */
.publishButton {
  background-color: #28a745;
  color: #fff;
}

.publishButton:hover {
  background-color: #218838;
  transform: translateY(-1px);
}

/* Loading and No Surveys Message */
.loading,
.noSurveys {
  text-align: center;
  font-size: 16px;
  color: #555;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .table {
    font-size: 0.9rem;
  }

  .actionCell {
    flex-direction: column;
    gap: 5px;
  }

  .viewButton,
  .publishButton,
  .editButton,
  .deleteButton {
    width: 100%;
    padding: 6px;
    font-size: 0.8rem;
  }
}