@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.frontpg-container {
    background-image: linear-gradient(
            to right,
            rgba(32, 5, 5, 0.85),
            rgba(73, 17, 17, 0.4)
        ),
        url('../image/TUPLOGOGRND.jpg'); /* Update this to your image path */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire container */
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; /* Removes any margin around the container */
    padding: 0; /* Removes padding inside the container */
    overflow: hidden; /* Prevents any overflow */
    color: white;
}


.logo {
    display: flex;
    gap: 20px; /* Space between logos */
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px; /* Uniform size for logos */
    height: auto;
}

.frontpg-container .system-title {
    text-align: center; /* Center-aligns the text */
    margin-top: 20px; /* Adjust spacing as needed */
}

.frontpg-container .system-title .system-title-1 {
    font-weight: 800;
    font-size: 35px;
    margin: 10px 0;
}

.frontpg-container .system-title .system-title-2 {
    font-weight: 400;
    font-size: 20px;
}

.btn {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between buttons */
}

.btn button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #C12542;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn button:hover {
    background-color: #220107;
}
