/* Container for Event Tabs */
.eventTabsContainer {
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

/* Event Title */
.eventTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #c31d3c;
    margin-bottom: 20px;
}

/* Tab Controls Container */
.tabControls {
    display: flex;
    gap: 10px;
    width: 300px;
}

/* Tab Button */
.tabButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.1s ease;
}

.tabButton:hover {
    background-color: #ddd;
    color: #000;
}

/* Active Tab Button */
.active {
    background-color: #c31d3c;
    color: #fff;
}





/* Responsive Design */
@media (max-width: 768px) {
    .eventBox {
        width: 100%;
    }

    .modalContent {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .eventBox {
        width: 100%;
        padding: 15px;
    }

    .eventTitle {
        font-size: 1rem;
    }

    .eventShortDescription {
        font-size: 0.8rem;
    }
}

/* Responsive Styling */
@media (max-width: 768px) {
    .eventTitle {
        font-size: 1.5rem;
    }

    .tabControls {
        flex-direction: column;
        gap: 10px;
    }

    .tabButton {
        width: 100%;
        padding: 10px;
        font-size: 0.9rem;
    }

    .tabContent {
        padding: 15px;
    }
    .deleteButton,
    .editButton {
        font-size: 0.8rem;
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    .eventTabsContainer {
        padding: 15px;
    }

    .eventTitle {
        font-size: 1.2rem;
    }

    .tabButton {
        font-size: 0.8rem;
        padding: 8px;
    }

    .tabContent {
        padding: 10px;
    }
    

    .deleteButton,
    .editButton {
        font-size: 0.7rem;
        padding: 6px 10px;
    }
}
