.filterSection {
 
    font-family: "Montserrat", sans-serif;
  }
  
  /* Filter Controls */
  .filterControls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Wrap controls to the next line on smaller screens */
  }
  
  .filterButtonContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 200px;
  }
  
  .filterLabel {
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
  }
  
  .filterButton {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .filterButtonActive {
    border-color: #c31d3c;
  }
  
  .filterButton:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }

  .analyticsContainer {

    font-family: "Montserrat", sans-serif;
  }
  
  
  /* Medium screens (tablets) */
  @media (max-width: 1024px) {
    .filterControls {
      gap: 15px; /* Reduce spacing */
    }
    .filterButtonContainer {
      width: 100%; /* Filters take up full width */
    }
  }
  
  /* Small screens (mobile) */
  @media (max-width: 768px) {
    .filterControls {
      flex-direction: column; /* Stack filters vertically */
      gap: 10px;
    }
  
  }
  