/* SurveyFilters.module.css */

.filterSection {
  padding: 20px;
  
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c31d3c;
  margin-bottom: 20px;
}

/* Header Section for Title and Add Button */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createButton {
  background-color: #c31d3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createButton:hover {
  background-color: #8f263a;
}

/* Filter Controls */
.filterControls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filterButtonContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 200px;
}

.filterLabel {
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.filterButton {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.filterButtonActive {
  border-color: #c31d3c;
}

.filterButton:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

/* Tabs */
.tabSection {
  display: flex;
    gap: 10px;
    width: 100%;
}

.tab {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.1s ease;
}

.activeTab {
  background-color: #c31d3c;
  color: #fff;
}

.tab:hover:not(.activeTab) {
  background-color: #ddd;
}

/* Responsive Design */

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .filterControls {
    gap: 15px;
  }
  .filterButtonContainer {
    width: 100%;
  }
}

/* Small screens (mobile) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .createButton {
    width: 100%;
  }

  .filterControls {
    flex-direction: column;
    gap: 10px;
  }

  .tabSection {
    flex-direction: column;
    gap: 10px;
  }

  .tab {
    width: 100%;
  }
}