/* Container styling */
.EventsContainer {
    width: 100%;
    max-width: 900px;
    margin: 20px auto; /* Centers the container */
    padding-top: 170px;
    
  }
  
  /* Parent container for event */
.eventNo1 {
    display: flex;
    align-items: center; /* Centers content vertically */
    margin: 20px 0;
    padding: 20px;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* Makes it clear that the event is clickable */
  }

  .eventNo1:hover {
    background: #f8f9fa; /* Light gray background on hover */
    transform: scale(1.03);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Event Date Styling */
  .event-date {
    flex-shrink: 0;
    text-align: center;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
  }
  
  .event-date h3 {
    font-size: 14px; /* Month font size */
    font-weight: bold;
    color: #333;
    margin: 0;
    text-transform: uppercase;
  }
  
  .event-date h3:last-child {
    font-size: 22px; /* Day font size */
    font-weight: bold;
    margin-top: 5px; /* Adds spacing between month and day */
    color: #000;
  }
  
  /* Event Details Styling */
  .event-details {
    display: flex;
    flex-direction: column; /* Ensure details stack vertically */
    justify-content: center; /* Vertically center within parent */
  }
  
  .event-details h5 {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
  }
  
  .event-details h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
    color: #222;
  }
  
  .eventmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures it appears above all other elements */
  }
  
  .eventmodal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  
  .close-button {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .event-poster {
    width: 100%;
    max-width: 550px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin: 10px 0;
  }
  
  p {
    margin: 5px 0;
    line-height: 1.5;
  }
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .eventNo1 {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .event-date {
      margin-bottom: 10px;
    }
  
    .event-details h3 {
      font-size: 20px;
    }
  
    .event-details h5 {
      font-size: 12px;
    }
  }
  