
.logo-background {
    width: 545px;
    height: 545px;
    background: url(../image/Tuplogo.png); /* Path to your logo image */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 150px;
    left: 400px;
    opacity: 0.1; /* Adjust this value for transparency (0.0 is fully transparent, 1.0 is fully opaque) */
    z-index: -1; /* Ensure it stays behind other content */
}



.survey-container {
    margin-top: 12em;
    width: 65%;
    position: relative;
    margin-left: 20em;
    text-align: left;
}


.survey-container h1 {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    flex-basis: 30%;
    margin-right: 20px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="email"],
.form-group select {
    flex-basis: 65%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}

.form-group .radio-group {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.radio-group label {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.button-container {
    text-align: right;
}

button {
    background-color: #c8102e;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a30d25;
}
