body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.pop-background {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1; 
}

.popup {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 20px;
}

.popup button {
    margin-top: 10px;
    
}

.popup .username {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.popup .popbutton {
    background-color: #630303;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}
.popup :active {
    box-shadow: inset -4px -4px 12px #ffffff;
  }
.popup p{
    font-weight: 500;
}




/*.cta {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 10px;

}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
  left: 100px;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
  left: 1em;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
*/
