@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .header {
    text-align: left;
    color: #ffffff;
    background-color: #580808;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .header h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header h2 {
    font-size: 1.2rem;

  }
  
  .details {
    padding-left: 22px;
    margin-top: 5px;
  }
  
  .details p {
    font-size: 1rem;
    margin: 5px 0;
    color: #333;
  }
  
  .chart {
    
    width: 100%;
    height: 400px;
    padding-left: 20px;
  }
  
  .chart canvas {
    max-height: 400px;
  }
  